# /etc/caddy/Caddyfile
# sudo systemctl reload Caddy 
# sudo systemctl stop caddy
# docker compose down
# docker compose up -d --build

api.alexanderlindholm.net {
    reverse_proxy localhost:8000
    encode gzip
}

portainer.alexanderlindholm.net {
    basicauth {
        admin JDJhJDE0JHh...
    }
    reverse_proxy localhost:9000
}
